<div id="cart" class="cart btn-group dropdown">
	<button class="dropdown-toggle" data-toggle="dropdown" data-loading-text="{{ text_loading }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> Cart (<span id="cart-total">{{ count }}</span>)</button>
	<div class="dropdown-menu dropdown-menu-right mini-cart-wrap">
		<div class="shopping-cart-content">
			<ul class="mini-cart-content">
				{% if products or vouchers %}
				{% for product in products %}
				<li class="mini-cart-item">
					<div class="mini-cart-product-img">
						{% if product.thumb %}
						<a href="{{ product.href }}">
							<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
						</a>
						{% endif %}
						<span class="product-quantity">{{ product.quantity }}x</span>
					</div>
					<div class="mini-cart-product-desc">
						<h3>
							<a href="{{ product.href }}">
								{{ product.name }}
							</a> 
						</h3>
						<div class="price-box">
							<span class="new-price">{{ product.total }}</span>
						</div>
						<div class="size">
							{% if product.option %}
								{% for option in product.option %} <br />
								- <small>{{ option.name }} {{ option.value }}</small>
								{% endfor %}
							{% endif %}
							{% if product.recurring %} <br />
							- <small>{{ text_recurring }} {{ product.recurring }}</small> 
							{% endif %}
						</div>
					</div>
					<div class="remove-from-cart">
						<button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}"><i class="fa fa-trash"></i></button>
					</div>
				</li>
				{% endfor %}
				{% for voucher in vouchers %}
				<li>
					<p class="text-left">{{ voucher.description }}</p>
					<p class="text-right">x&nbsp;1</p>
					<p class="text-right">{{ voucher.amount }}</p>
					<p class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}"><i class="fa fa-times"></i></button></p>
				</li>
				{% endfor %}
				<li>
					{% for total in totals %}
					<div class="shopping-cart-total">
						<h4>{{ total.title }} : <span>{{ total.text }}</span></h4>
					</div>
					{% endfor %}
				</li>
				<li>   
					<div class="shopping-cart-btn">
						<a href="{{ checkout }}">{{ text_checkout }}</a>
					</div>
				</li>
				{% else %}
				<li>
					<p class="text-center">{{ text_empty }}</p>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
