        <footer class="footer-area">
			<div class="footer-top pt--100 section-pb">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="footer-info-area">
								<div class="footer-logo">
									<a href="{{ home }}">
										<img src="image/catalog/logo_blue.png" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
									</a>
								</div>
								<div class="desc_footer">
									<p><i class="fa fa-home"></i> <span> 123 Street, Anytown, USA.</span> </p>
									<p><i class="fa fa-phone"></i> <span>  (0) 800 456 789</span> </p>
									<p><i class="fa fa-envelope-open-o"></i> <span> Contact@posthemes.com</span> </p>
									<div class="link-follow-footer">
										<ul class="footer-social-share">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-rss"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-youtube"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										{% if informations %}
										<div class="footer-info-area">
											<div class="footer-title">
												<h3>{{ text_information }}</h3>
											</div>
											<div class="desc_footer">
												<ul>
													{% for information in informations %}
													<li><a href="{{ information.href }}">{{ information.title }}</a></li>
													{% endfor %}
													<li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
												</ul>
											</div>
										</div>
										{% endif %}
									</div>
									<div class="col-lg-6 col-md-6">
										<div class="footer-info-area">
											<div class="footer-title">
												<h3>{{ text_extra }}</h3>
											</div>
											<div class="desc_footer">
												<ul>
													<li><a href="{{ order }}">{{ text_order }}</a></li>
													<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
													<li><a href="{{ special }}">{{ text_special }}</a></li>
													<li><a href="{{ return }}">{{ text_return }}</a></li>
													<li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
						</div>
						<div class="col-lg-4 col-md-12">
								<div class="footer-info-area">
									<div class="footer-title">
										<h3>Join Our Newsletter Now </h3>
									</div>
									<div class="desc_footer">
										<div class="input-newsletter">
										<input name="email" class="input_text" value="" placeholder="Your email address" type="text">
										<button class="btn-newsletter"><i class="fa fa-paper-plane-o"></i></button>
										</div>
										<p>Get E-mail updates about our latest shop and special offers.</p>
									</div>
								</div>
						</div>
					</div>
				</div>
				</div>
				<div class="footer-buttom">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-7">
								<div class="copy-right">
									<p>{{ powered }}. All Rights Reserved</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-5">
								<div class="payment">
									<img src="catalog/view/theme/default/assets/images/icon/1.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
		</footer> 

		{% for script in scripts %}
		<script src="{{ script }}" type="text/javascript"></script>
		{% endfor %}

		<script src="catalog/view/theme/default/assets/js/plugins.js"></script>

		<script src="catalog/view/theme/default/assets/js/common.js"></script>

	</body>

</html>