{{ header }}

<div class="page page--home">

	{{ content_top }} 	{#	<!-- Hero slideshow --> #}

	<section class="block-banner block-banner--services">
		<div class="block-banner__item">
			<div class="block-banner__image"><i class="fa fa-truck"></i></div>
			<div class="block-banner__content">
				<h3 class="block-banner__title">Free Shipping</h3>
				<p class="block-banner__text">Free shipping on all US order or order above $200</p>
			</div>
		</div>
		<div class="block-banner__item">
			<div class="block-banner__image"><i class="fa fa-support"></i></div>
			<div class="block-banner__content">
				<h3 class="block-banner__title">Support 24/7</h3>
				<p class="block-banner__text">Contact us 24 hours a day, 7 days a week</p>
			</div>
		</div>
		<div class="block-banner__item">
			<div class="block-banner__image"><i class="fa fa-undo"></i></div>
			<div class="block-banner__content">
				<h3 class="block-banner__title">30 Days Return</h3>
				<p class="block-banner__text">Simply return it within 30 days for an exchange</p>
			</div>
		</div>
		<div class="block-banner__item">
			<div class="block-banner__image"><i class="fa fa-credit-card"></i></div>
			<div class="block-banner__content">
				<h3 class="block-banner__title">100% Payment Secure</h3>
				<p class="block-banner__text">We ensure secure payment with PEV</p>
			</div>
		</div>
	</section>

	{% if categories %}
	<section class="block-banner block-banner--categories">
		{% for category in categories %}
		<a class="block-banner__item" href="{{ category.href }}">
			<div class="block-banner__image"><img src="{{ category.image }}" alt="{{ category.name }}"></div>
			<div class="block-banner__content">
				<h3 class="block-banner__title">{{ category.name }}</h3>
			</div>
		</a>
		{% endfor %}
	</section>
	{% endif %} 

	{{ column_left }}  	{#	<!-- Latest product slider --> #}

	<section class="block-slider block-slider--brands">
		<div class="our-brand-active text-center">
			<div class="single-brand">
				<a href="#"><img src="catalog/view/theme/default/assets/images/brand/1.png" alt=""></a>
			</div>
			<div class="single-brand">
				<a href="#"><img src="catalog/view/theme/default/assets/images/brand/2.png" alt=""></a>
			</div>
			<div class="single-brand">
				<a href="#"><img src="catalog/view/theme/default/assets/images/brand/3.png" alt=""></a>
			</div>
			<div class="single-brand">
				<a href="#"><img src="catalog/view/theme/default/assets/images/brand/4.png" alt=""></a>
			</div>
			<div class="single-brand">
				<a href="#"><img src="catalog/view/theme/default/assets/images/brand/5.png" alt=""></a>
			</div>
			<div class="single-brand">
				<a href="#"><img src="catalog/view/theme/default/assets/images/brand/6.png" alt=""></a>
			</div>
		</div>
	</section>
	
</div>

{{ footer }}