{% if categories %}
<nav class="main-navigation">
  <ul>
	{% for category in categories %}
		{% if category.children %}
			<li class="has-submenu">
				<a href="{{ category.href }}">{{ category.name }}&nbsp;<i class="fa fa-angle-down"></i></a>
				<ul class="sub-menu">
					{% for child in category.children %}
					<li><a href="{{ child.href }}">{{ child.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
		{% else %}
			<li><a href="{{ category.href }}">{{ category.name }}</a></li>
		{% endif %}
	{% endfor %}
			<li><a href="{{ about_us }}">About</a></li>
			<li><a href="{{ contact }}">Contact us</a></li>
  </ul>
</nav>
{% endif %} 