<div class="form form--promocode">
	<div class="form__heading">{{ heading_title }}</div>
	<div class="form__wrapper">
		<div class="form__row">
			<div class="form__item">
				<input type="text" name="coupon" value="{{ coupon }}" placeholder="{{ entry_coupon }}" id="input-coupon" class="form-control form__item-input" />
				<input type="button" value="{{ button_coupon }}" id="button-coupon" data-loading-text="{{ text_loading }}"  class="btn__primary--outline form__submit" />
				<span class="error"></span>
			</div>
		</div>
		<script>
			$('#button-coupon').on('click', function() {
				$.ajax({
					url: 'index.php?route=extension/total/coupon/coupon',
					type: 'post',
					data: 'coupon=' + encodeURIComponent($('input[name=\'coupon\']').val()),
					dataType: 'json',
					success: function(json) {
						$('.alert-dismissible').remove();

						if (json['error']) {
							$('.form--promocode .error').html(json['error']);
						}

						if (json['redirect']) {
							location = json['redirect'];
						}
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			});
		</script>
	</div>
</div>

