{{ header }} 

<div class="page page--cart"> 

	<div class="page__wrapper cart"> 

		{% if errors %}
			{% for error in errors %}
				<div class="alert alert-warning">{{ error }}</div>
			{% endfor %}
		{% elseif empty %}
			<div class="alert alert-info">{{ empty }}</div>
		{% endif %}

		<main class="page__content">

			{% if cart %}
			<div id="custom-cart" class="cart__products">
				{{ cart }}
			</div>
			{% endif %}

			<div class="cart__totals">
				{% if module %} 
					<div id="custom-module" class="cart__modules">{{ module }}</div>
				{% endif %} 
				{% if total %} 
					<div class="cart__total table table--cart" id="custom-total">{{ total }}</div>
				{% endif %} 
			</div>

			{% if login and not logged %} 
			<div id="custom-login" class="cart__choose">{{ login }}</div>
			{% endif %} 

			{% if customer and not logged %} 
				<div id="custom-customer" class="cart__customer">{{ customer }}</div>
			{% endif %} 

			<div class="cart__details">
				<div class="cart__shipping">
					{% if shipping and shipping != constant('false') %} 
						<div id="custom-shipping">{{ shipping }}</div>
					{% endif %} 
				</div>
				<div class="cart__payment">
					{% if payment %} 
						<div id="custom-payment">{{ payment }}</div>
					{% endif %}	
					{% if comment and comment != constant('false') %} 
						<div id="custom-comment" class="cart__comment">{{ comment }}</div>
					{% endif %} 
				</div>
			</div>

			{% if payment %} 
			{% if text_agree %} 
			<div class="cart__buttons buttons" id="custom-control">
				<label for="agree">
					{{ text_agree }} 
				</label>
				{% if (agree) %} 
				<input id="agree" type="checkbox" name="agree" value="1" checked="checked" />
				{% else %} 
				<input id="agree" type="checkbox" name="agree" value="1" />
				{% endif %} 
				<input type="button" value="{{ button_continue }}" id="button-custom-order" data-loading-text="{{ text_loading }}" class="btn__primary" style="display: block!important"/>
				<span></span>
			</div>
			{% else %} 
			<div class="cart__buttons buttons">
				<input type="button" value="{{ button_continue }}" id="button-custom-order" data-loading-text="{{ text_loading }}" class="btn__primary" style="display: block!important" />
			</div>
			{% endif %} 
			{% endif %}	
		
			<div id="custom-confirm" class="cart__paypal" style="display: none;"></div>

		</main>

	</div>
	
</div> 

{{ footer }}

<script>

	$(document).ready(function() {
		$('#button-custom-order').on('click', function(){
			{% if (not logged) %} 
				checkoutCustomer()
					{% if (login is defined and login != constant('false')) %} 
						.then( checkoutLogin )
					{% endif %} 
					{% if (shipping is defined and shipping != constant('false')) %} 
						.then( checkoutShipping )
					{% endif %} 
						.then( checkoutPayment )
					{% if (comment is defined and comment != constant('false')) %} 
						.then( checkoutComment )
					{% endif %} 
					.then( checkoutConfirm )
					.catch( failureCallback );
			{% else %} 
				{% if (shipping is defined and shipping != constant('false')) %} 
					checkoutShipping()
						.then( checkoutPayment )
						{% if (comment is defined and comment != constant('false')) %} 
						.then( checkoutComment )
						{% endif %} 
						.then( checkoutConfirm )
						.catch( failureCallback );
				{% else %} 
					checkoutPayment()
						{% if (comment is defined and comment != constant('false')) %} 
						.then( checkoutComment )
						{% endif %} 
						.then( checkoutConfirm )
						.catch( failureCallback );
				{% endif %}	
			{% endif %} 
		});
	});
  
</script>