<section class="block-slider block-slider--latest">
	<div class="block-slider__heading">
		<h2 class="block-slider__heading-title">{{ heading_title }}</h2>
		<p class="block-slider__heading-text">Most Trendy 2020 Leather Bags</p>
	</div>

	<div class="product-wrapper">
		<div class="swiper-container latest-slider">
			<div class="swiper-wrapper">
				{% for product in products %}
				<div class="single-product-wrap swiper-slide">
					<div class="product-image">
						<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
						<span class="label-product label-new">new</span>
						<span class="label-product label-sale">-7%</span>
					</div>
					<div class="product-content">
						<h3><a href="{{ product.href }}">{{ product.name }}</a></h3>
						<div class="price-box">
							{% if not product.special %}
							<span class="new-price">{{ product.price }}</span>
							{% else %}
							<span class="new-price">{{ product.special }}</span>
							<span class="old-price">{{ product.price }}</span>
							{% endif %}
						</div>
						<div class="product-action">
							<button class="add-to-cart" onclick="cart.add('{{ product.product_id }}');" title="Add to cart"><i class="fa fa-plus"></i>{{ button_cart }}</button>
							<div class="star_content">
								<div class="rating">
									{% for i in 1..5 %}
										{% if product.rating < i %} 
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
										{% else %}
										<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> 
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="swiper-controls">
				<div class="swiper-pager">
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</section>

