{% if products %} 
<form action="{{ action }}" method="post" enctype="multipart/form-data">
	<div class="table table--cart">
		<div class="table__head">
			{% for column, name in setting.columns %} 
			<div class="table__head-item table__head-item--{{column}}" id="column_{{column}}">{{ name }}</div>
			{% endfor %} 
		</div>
		<div class="table__content">
			{% for product in products %} 
			<ul class="table__row col-12">

				{% for column, name in setting.columns %} 

					{% if (column == 'image') %} 
					<li class="table__row-item table__row-item--image col-1">
						{% if (product.thumb) %}<a href="{{ product['href'] }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a>{% endif %}
					</li>
					{% endif %} 

					{% if (column == 'name') %} 
					<li class="table__row-item table__row-item--name col-4">
						<a href="{{ product['href'] }}">{{ product.name }}</a>

						{% if (not product['stock']) %} 
						<span class="stock text-danger">***</span>
						{% endif %} 

						{% if (product.option) %} 
						{% for option in product.option %} 
						<br />
						<small>{{ option.name }}: {{ option.value }}</small>
						{% endfor %} 
						{% endif %} 

						{% if (product.reward) %} 
						<br />
						<small>{{ product.reward }}</small>
						{% endif %} 

						{% if (product.recurring) %} 
						<br />
						<span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small>
						{% endif %}

					</li>
					{% endif %} 

					{#{% if (column == 'model') %} 
					<li class="text-left">{{ product.model }}</li>
					{% endif %}#}

					
					{#{% if (column == 'sku') %} 
					<li class="text-left">{{ product.sku }}</li>
					{% endif %}#}

					{% if (column == 'price') %} 
					<li class="table__row-item table__row-item--price col-2">{{ product.price }}</li>
					{% endif %} 

					{% if (column == 'quantity') %} 
					<li class="table__row-item col-2 block-quantity">
						<button class="block-quantity__btn block-quantity__btn--minus" type="button" onclick="custom_cart.update({{ product.cart_id }}, {{ product.quantity - 1 }})" {% if product.quantity == 1 %} disabled {% endif %}><i class="fa fa-minus"></i></button>
						<input class="block-quantity__input" type="text" oninput="custom_cart.change({{ product.cart_id }}, event)" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control" />
						<button class="block-quantity__btn block-quantity__btn--plus" type="button" onclick="custom_cart.update({{ product.cart_id }}, {{ product.quantity + 1 }})"><i class="fa fa-plus"></i></button>
					</li>
					{% endif %} 

					{% if (column == 'total') %} 
					<li class="table__row-item table__row-item--total col-2">{{ product.total }}</li>
					{% endif %} 

					{% if (column == 'remove') %} 
					<li class="table__row-item table__row-item--remove col-1">
						<button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="icon icon--delete" onclick="custom_cart.remove('{{ product.cart_id }}');"></button>
					</li>
					{% endif %} 

				{% endfor %} 

			</ul>
			{% endfor %} 
		</div>
	</div>
</form>
{% endif %} 
